@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.3715 0 0);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--background: oklch(85.142% 0.0001 271.152);
	--foreground: oklch(29.313% 0.00003 271.152);
}

.dark {
	--primary: oklch(0.1762 0.1108 268.75);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9096 0.2104 117.63);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--background: oklch(0.1591 0 0);
	--foreground: oklch(1 0 0);
}

@theme {
	--font-poppins: Poppins, sans-serif;
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-background: var(--background);
	--color-text: var(--text);
}
