@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--primary: oklch(0.2058 0.0319 264.62);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2825 0.0453 264.18);
	--secondary-foreground: oklch(1 0 0);
	--success: oklch(0.548 0.166 142.5);
	--success-foreground: oklch(1 0 0);
	--warning: oklch(0.708 0.17 85.87);
	--warning-foreground: oklch(0.1 0 0);
	--danger: oklch(0.576 0.232 27.33);
	--danger-foreground: oklch(1 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--background: oklch(1 0 0);
	--foreground: oklch(29.313% 0.00003 271.152);
}

.dark {
	--primary: oklch(0.1762 0.1108 268.75);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9096 0.2104 117.63);
	--secondary-foreground: oklch(0.205 0 0);
	--success: oklch(0.548 0.166 142.5);
	--success-foreground: oklch(1 0 0);
	--warning: oklch(0.708 0.17 85.87);
	--warning-foreground: oklch(0.1 0 0);
	--danger: oklch(0.576 0.232 27.33);
	--danger-foreground: oklch(1 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--background: oklch(0.1591 0 0);
	--foreground: oklch(0.8157 0.1399 208.24);
}

@theme {
	--font-poppins: Poppins, sans-serif;
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-danger: var(--danger);
	--color-danger-foreground: var(--danger-foreground);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}